* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #f4f6f9;
}

/*sidebar*/
.sidebar {
  width: 220px;
  background: #1e293b;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul li {
  list-style: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar ul li:hover {
  background: #334155;
}

.sidebar ul li.active {
  background: #334155;
  font-weight: bold;
}

/*Main*/
.main {
  flex: 1;
  padding: 30px;
}

/*Header*/
.topbar {
  margin-bottom: 30px;
}

.topbar h1 {
  font-size: 28px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 16px;
  color: #555;
}

.count {
  font-size: 28px;
  margin-top: 10px;
}

.green {
  color: #16a34a;
}

.red {
  color: #dc2626;
}

/* Resources */

.resource {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 3fr 60px;
  align-items: center;
  margin-bottom: 15px;
}
.resources h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

.progress {
  background: #e5e7eb;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background: #3b82f6;
  transition: width 0.5s ease;
}

/* Utilization Levels */
.bar-80 {
  width: 80%;
}
.bar-60 {
  width: 60%;
}
.bar-40 {
  width: 40%;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  body {
    flex-direction: column;
  }
}
